*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css para mobile first */

body{
    width: 100%;
    height: 100vh;
    background-image: url(./convite-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: antiquewhite;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-family: 'Send Flowers', cursive;
}

.setinha{
    font-size: 1rem;
}

#arrow{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

#animation{
   transition: 300ms;
   animation-name: piscar;
   animation-duration: 1s;
   animation-timing-function: steps(3, start) ;
   animation-delay: 1s;
   animation-iteration-count: infinite; 
}

@keyframes piscar{
    to{
        visibility: hidden;
    }
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}

.active{
    display: block !important;
}

#about p{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-bottom: .6rem;
}

.signature{
    display: flex;
    justify-content: center;
}

.signature img{
    width: 2rem;
}

/* css para desktop */

@media screen and (min-width: 780px) {
    body{
        background-image: url(./convite-destop.jpg);
        background-size: contain;
        background-position: center;
    }

    #arrow{
        font-size: 2.5rem;
    }

    #about p{
        width: 80%;
        font-size: 1.5rem;
    }
}
